<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMP?</title>
</head>

<body>
    <h2>Bienvenidxs a la 7ma iteracion  
        <a HREF = "https://docs.google.com/document/d/1ERlDghk47Yc1_V1SQ7oCnZAC4bubHx7ZhQXS3naKMJA/edit#">QMP</a>
    </h2>

    <p>Acciones</p>
    <ul>
       <li>consultar guardarropa</li>
       <li>crear prenda</li>
       <li>consultar prenda</li>
       <li>eliminar prenda</li>
       <li>ver eventos</li>
    </ul>
</body>

</html>